

<div class="container">
    <h3>{{ appSettings.title }}</h3>
    <div class="row">
    <div class="form-group form-inline">
        <label for="filterTxtBx">
            Filter By:
        </label>
        <input id="filterTxtBx" type="text" ng-model="customerFilter" data-ng-mouseup="customerFilter = ''" class="form-control" />
        <button type="button" class="btn btn-sm" data-ng-click="customerFilter = ''">clear</button>
    </div>




        <h4>Total Customers: {{ customers.length }}</h4>
    </div>
    <div class="col-sm-12">
        <table class="table table-bordered table-condensed">
            <tr>
                <th ng-click="orderByMe('name');">
                    Name
                    <i class="glyphicon" ng-class="{'glyphicon glyphicon-arrow-down' : reverse && sortBy=='name', 'glyphicon glyphicon-arrow-up' : !reverse && sortBy=='name', 'hidden' : sortBy!='name'}">
                        <span class="label label-info rotate">{{ reverse?'DESC':'ASC' }}</span>
                    </i>
                </th>
                <th ng-click="orderByMe('city');">
                    City <i ng-class="{'glyphicon glyphicon-arrow-down' : reverse && sortBy=='city', 'glyphicon glyphicon-arrow-up' : !reverse && sortBy=='city', 'hidden' : sortBy!='city'}"><span class="label label-info rotate">{{ reverse?'DESC':'ASC' }}</span></i>
                </th>
                <th ng-click="orderByMe('joined');">
                    Date Joined <i ng-class="{'glyphicon glyphicon-arrow-down' : reverse && sortBy=='joined', 'glyphicon glyphicon-arrow-up' : !reverse && sortBy=='joined', 'hidden' : sortBy!='joined'}"><span class="label label-info rotate">{{ reverse?'DESC':'ASC' }}</span></i>
                </th>
                <th ng-click="orderByMe('orderTotal');">
                    Order Total <i ng-class="{'glyphicon glyphicon-arrow-down' : reverse && sortBy=='orderTotal', 'glyphicon glyphicon-arrow-up' : !reverse && sortBy=='orderTotal', 'hidden' : sortBy != 'orderTotal'}"><span class="label label-info rotate">{{ reverse?'DESC':'ASC' }}</span></i>
                </th>
                <th>Orders</th>
                <th>&nbsp;</th>
            </tr>
            <tr class="repeat-animation" ng-repeat="cust in customers | filter: customerFilter | orderBy:sortBy:reverse">
                <td ng-bind="cust.name | uppercase"></td>
                <td class="fade-animation">{{ cust.city | lowercase}}</td>
                <td>{{ cust.joined | date}}</td>
                <td>{{ cust.orderTotal | currency }}</td>
                <td><a href="#/orders/{{cust.id}}">view {{ cust.orders.length }} orders</a></td>
                <td class="center"><span class="glyphicon glyphicon-remove delete" ng-click="deleteCustomer(cust.id)"></span></td>
            </tr>
        </table>
        <div class="well well-sm">
            <h3>variables:</h3>
            <ul>
                <li class="">sortBy = {{ sortBy }}</li>
                <li class="">reverse = {{ reverse }}</li>
                <li class="">customerFilter = {{ customerFilter }}</li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <p>version {{ appSettings.version }}</p>
    <p><i>{{ appSettings.date }}</i></p>
</footer>