
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSPA.cshtml";
}


<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/app/modules/customerApp.js"></script>
<script src="~/Scripts/app/controllers/customerController.js"></script>
<script src="~/Scripts/app/controllers/ordersController.js"></script>
<script src="~/Scripts/app/controllers/allOrdersController.js"></script>
<script src="~/Scripts/app/services/customersFactory.js"></script>
<script src="~/Scripts/app/services/values.js"></script>
<div data-ng-app="customerApp" class="container">


    <div class="jumbotron hidden">
        <h2>Asp.Net + Angular JS (SPA)</h2>
        <p class="lead">ASP.NET SPA using AngularJs, HTML, CSS, and JavaScript.</p>
            </div>

    <div class="container slide-animation" ng-view >

    </div>


</div>


