
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/angular-route.js"></script>

<script src="~/Scripts/app/SimpleModule.js"></script>
<script src="~/Scripts/app/controllers/customerController.js"></script>
<script src="~/Scripts/app/controllers/ordersController.js"></script>

<div data-ng-app="simpleApp">


    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET SPA using AngularJs, HTML, CSS, and JavaScript.</p>
        <p><a href="https://angularjs.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    </div>

    <div ng-view>

    </div>


</div>